<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block css %}
        {% endblock  %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>Optometria Laboulaye</title>
        <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
        <style>
          body {
            font-family: 'Architects Daughter', serif;
            font-size: 18px;
          }
        </style> 
        {% load static %}
        <link rel="shortcut icon" href="{% static 'optolbye/icons/glasses_4916.ico' %}">
    </head>
    <body>
        {% block nav %}        
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            {% load static %}
            <img class="px-2 " src="{% static 'optolbye/icons/glasses_4916.ico'%}" alt=""><a class="navbar-brand" href="{% url 'index' %}">Optometria Laboulaye</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bienvenido, {{ user.username }}</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Nuevo
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if perms.optometrialbye %}
                            {% if perms.optometrialbye.add_pacientes %}
                         <a class="dropdown-item" href="{% url 'nuevo_paciente'%}">Paciente</a>
                         <a class="dropdown-item" href="{% url 'nuevo_turno'%}">Turno</a>
                            {% endif %}
                        {% endif %}
                        {% if perms.optometrialbye.add_pedidos %}
                         <a class="dropdown-item" href="{% url 'nuevo_pedido' %}">Pedido</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ver
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'detalle_paciente' %}">Paciente</a>
                         <a class="dropdown-item" href="{% url 'detalle_pedido' %} ">Pedido</a>
                         <a class="dropdown-item" href="{% url 'detalle_turno'%}">Turno</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'calendario' %}">Calendario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Ingresar <span class="sr-only">(current)</span></a>
                    </li class="nav-item">
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}
        {% block body %}
            
        {% endblock %}
        {% block footer %}

        {% endblock %}

        {% block javascript %}
        {% endblock  %}

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
