{% extends 'optolbye/base.html' %}
{% load static %}
{% block body %}
{% load crispy_forms_tags %}
<form method = "POST">
    {% csrf_token %}
    <h3>¿Desea eliminar el pedido de {{object.turno}}?</h3>
    <button class= "btn btn-danger" type= "submit">Si, eliminar</button>
    <a href="{% url 'detalle_turno' %}" class="btn btn-default">Cancelar</a>
</form>

{% endblock  %}
{% block footer %}
<footer class="py-3 bg-primary fixed-bottom">
    <div class="container">
      <p class="m-0 text-light text-center">Derechos reservados 2020 (C)</p>
    </div>
</footer>
{% endblock %}